@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

html{
    padding: 2rem 8%;
}

body{
    background: black;
    margin: 0 auto;
    color: white;
}

/* video background */
#video-background{
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
}


/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4%;
}

.logo{
    font-size: 1.8rem;
}

.icons{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.icons a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#f6b53241;
    border: 0.01rem solid rgba(255, 255, 255, 0.055);
    border-radius: 50%;
    box-shadow: 0rem 0rem 1rem 0.5rem #f6b53233;
}

.icons i{
    font-size: 1.8rem;
    color: white;

}

.icons i:hover{
    box-shadow: 0rem 0rem 1rem 0.4rem #f6b53233;
    transition: 0.4s;
    cursor: pointer;
    border-radius: 50%;
    background:#f6b53241;
}

.icons i:not(:hover) {
    box-shadow: none;
    background: transparent;
    transition: 0.5s;
}


/* main */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

form{
    background:#f6b53241;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 4rem solid transparent;
    box-shadow: 0rem 0rem 1rem 0.5rem #f6b53233;
    border-radius: 40% 0%;
}

.informacoes{
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.informacoes .login{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.informacoes .manter-conectado{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}


.btns{
    display: flex;
    justify-content: center;
}

.button-primary{
    width: 80%;
}

.button-primary button{
        width: 100%;       
}

button{
    background:#f6b53241;
    border: 0.01rem solid rgba(255, 255, 255, 0.055);
    border-radius: 5px ;
    color: white;
    height: 30px;
}

button:hover{
    background:#f6b53223;
    transition: 0.5s;
    cursor: pointer;
}

button:not(:hover){
    transition: 0.5s;
}

input#senha, input#login{
    background:#f6b53241;
    border: 0.01rem solid rgba(255, 255, 255, 0.055);
    border-radius: 5px ;
    color: white;
}

input[type="checkbox"] {
    position: absolute;
    width: 0;
    height: 0;
  }
  
  #checkbox-label {
    display: inline-block;
    padding-left: 35px;
    position: relative;
    cursor: pointer;
  }
  
  #checkbox-label:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background:#f6b53241;
    border: 0.01rem solid #ffffff0e;
    border-radius: 5px ;
    position: absolute;
    left: 0;
    top: 1px;
  }

  input[type="checkbox"]:checked + #checkbox-label:before {
    background:#f6b53241;
    border-color: #ffffff0e;
  }
  
  /* Estilo para a caixa de seleção interna do checkbox */
  input[type="checkbox"]:checked + #checkbox-label:after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 10px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    position: absolute;
    left: 7px;
    top: 4px;
  }
  

  /* @media */

  @media (max-width:420px){

    .informacoes .login {
        flex-direction: column;
        }

    .informacoes .password {
        flex-direction: column;
    }
    input#senha {
        width: 100%;
    }
    label{
        justify-content: center;
        display: flex;
    }
    .button-primary {
        width: 100%;
    }
    #checkbox-label{
        font-size: 0.9rem;
        display: flex;
        align-items: center;
    }
}

@media (max-width:350px){

    form {
        border: 2.5rem solid transparent;
    }

    .button-primary {
        width: 60%;
    }
}

@media (max-width:290px){
    .informacoes .login {
        align-content: center;
    }

    input#login {
        width: 90%;
        display: flex;
        justify-content: center;
    }

    input#senha {
        width: 90%;
    }

    .informacoes .password {
        text-align: center;
    }

    form{
        gap: 0rem;
    }
    .icons {
        gap: 1rem;
    }
    .icons a {
        width: 30px;
        height: 30px;
    }

    .icons i {
        font-size: 1.1rem;
    }
    #checkbox-label {
        font-size: 0.6rem;
        align-items: center;
        display: flex;
    }

    .button-primary {
        padding-top: 2rem;
    }

    #checkbox-label {
        height: 1.5rem;
    }

}